/* body{
    background-image: linear-gradient(blue, purple);
} */



button{
    color: white;
    background-color: blueviolet;
    padding: 15px;
    border-radius: 8px;
    font-size: medium;
    font-weight: 400;
}
button:hover{
    
    background-color: red;
}
h1{
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size:xx-large;
    font-weight: bold;
}
h2{
    color: white;
    font-family: sans-serif;
}
h3{
    color: white;
    font-family: sans-serif;
}
a{
    color: white;
    font-family: sans-serif;
    font-weight:bold;
    font-size: larger;
}
a:hover{
    color: purple;
}
input{
    padding: 15px;
    border-radius: 8px;
}
p{
    color: white;
}
.books-container{
    display: flex;
    flex-wrap: wrap;
    
}
#book.container{
    display: flex;
    flex-wrap: wrap;
}
.booksDivs {
    margin: 20px;
    padding: 20px;
    border: black groove;
    text-align: center;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
    color: white;

}
.logged-in-container{
    display: flex;
    flex-wrap: wrap;
}
.book-image {
    width: 150px; /* Exempel: justera bredden */
    height: 200px; /* Exempel: bevara proportionerna */
    border-radius: 8px; /* Exempel: rundade hörn */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Exempel: skugga */
    margin: 10px; /* Exempel: marginal runt bilderna */
}
.header{
    display: flex;
    justify-content: space-evenly;
    font-size: larger;
    color: white;
    margin: 20px;
    padding: 20px;
    border-top: ridge black;
    border-bottom: ridge black;
    
}
#logoutBtn{
    text-align: end;
}
